VITE_TURSO_DATABASE_URL=libsql://your-database.turso.io
VITE_TURSO_AUTH_TOKEN=your_turso_token
VITE_TABLET_SETUP_PIN=0040
VITE_BOOTSTRAP_ADMIN_PIN=0806
VITE_DEFAULT_MANAGER_PIN=2020
VITE_DEFAULT_OPERATOR_PIN=0040
VITE_OS_EMPRESA_ID=e19cbcce-b2a7-4cc1-bf70-c06d2f8feb8a
VITE_OS_TENANT_SLUG=becoartes
VITE_OS_SYSTEM_USER_ID=
